<!DOCTYPE html>
<html>
<head>
  <title>Qrreader</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<% if logged_in? %>
		<%= link_to "Sign Out", sign_out_path, :method => :get %>
    <% if current_user.is_super_admin? %>
      <%= link_to "Home", admin_root_path, :method => :get %>
    <% else %>
      <%= link_to "Home", member_root_path, :method => :get %>
    <% end %>      
	<% end %>
	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

</header>
<%= yield %>

</body>
</html>
